---
---
@import "moonkai";
@import "name-animation";
@import "rain";

$bgcolor: #194350;
$pfont: 'Space Mono', 'Courier New', Courier, monospace;
$pcolor: #FFC2B4;
$linkcolor: #FF8882;
$link-shadow-color: #9DBEB9;


@font-face {
    font-family: 'beast-face';
    src: url('/assets/fonts/beast-head.woff2') format('woff2'),
        url('/assets/fonts/beast-head.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body {
    background-color: $bgcolor;
    font-family: $pfont;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

p,
i,
b,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $pcolor;
}

section {
    color: $pcolor;
}

.post-content {
    border-top: 1.5px dotted $linkcolor;
    border-bottom: 1.5px dotted $linkcolor;
    margin: 1.5em 0 0 0;
    padding: .5em 0 1.5em 0;
}

.post-content>p {
    text-indent: 2em;
    text-align: justify;
}

a,
a>p,
div {
    color: $linkcolor;
}

a:hover {
    color: $bgcolor;
    background-color: $linkcolor;
}

hr {
    border-top: 0;
}
details {
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
    & pre {
    font-size: 1em;
    color: $pcolor;
    font-family: $pfont;
    overflow: scroll;
    }
    & pre::-webkit-scrollbar {
        display: none;
    }
}
details[open] > pre {
    max-height: fit-content;
}
.name {
    font-family: beast-face, serif;
    font-size: 9vw;
    margin: 20px;
    line-height: 1;
}

.intro {
    padding-top: 20;
}

.center {
    text-align: center;
}
.center-image {
    display: block;
    margin: 0 auto;
}
.stand-with-palestine {
    background-color: $pcolor;
    color: $bgcolor;
    width: fit-content;
    margin: 0 auto;
    padding: 0.5em;
}

/* Default padding for large screens */
#centerpara {
    padding: 1% 25%;

}

/* For tablets or medium-sized screens */
@media (max-width: 992px) {
    #centerpara {
        padding: 30px;
    }
    .letter {
        font-size: 12vh;
    }
}

/* For mobile or small screens */
@media (max-width: 768px) {
    #centerpara {
        padding: 10px;
    }
    .letter {
        font-size: 15vw;
    }
}


.topnav {
    overflow: hidden;
    text-align: center;
    margin-bottom: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
    text-align: center;
    text-decoration: none;
}

.topnav a:hover {
    text-decoration: underline;
}

/* blog list in the blogs page */
.post-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.post-cards {
    padding: 15px;
    border-radius: 7px;
}

.post-cards,
.post-cards a p,
.post-date,
.excerpt>p,
#read-more {
    background-color: #EAEAEA !important;
}

.post-cards a,
a>p {
    color: #FF2E63 !important;
}

.post-cards>p {
    color: #252A34 !important;
}

.excerpt>p {
    color: #108d8b !important;
}

.post-heading {
    font-weight: 900;
    font-size: 1.3em;
    margin: 0;
}

.post-list a {
    text-decoration: none;
}

.post-date {
    margin-top: 0;
    font-size: smaller;
}

.excerpt p {
    margin-bottom: 3px;
}

#read-more:hover {
    text-decoration: underline;
}

.separator {
    width: 50%;
    margin: 30px auto;
}

.pagination {
    text-align: center;
}

/*---------------------*/


.rss-flex {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 10px;
}

.rss-flex-img {
    padding-top: 3px;
}

.post-rss-flex {
    display: flex;
    justify-content: space-between;
}

.post-rss-flex>h2 {
    margin: 0;
}

.post-rss-flex>span {
    align-self: center;
}

.post-flex {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.date {
    margin: 0;
    font-size: smaller;
    padding-top: .2em;
}

// PREVIOUS AND NEXT ARROW ON WRITEUP PAGE

.previous,
.next {
    font-size: 2em;

    // font-weight: bold;
}

.previous:hover,
.next:hover {
    background-color: $bgcolor;
    color: $linkcolor;
    text-shadow: 2px 2px 8px $link-shadow-color;
}

// ---FONT STYLE FOR SHAYARI-------
.sher {
    font-family: 'Noto Nastaliq Urdu', serif;
    border-top: 1px dotted $pcolor;
}
.urdu {
    font-family: 'Noto Nastaliq Urdu', serif;
}

// --------HOME BACKGROUND STYLES ------------
.home-bg {
    background-image: url(/assets/images/animebg2.jpg);
    background-position:bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.word {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: $pcolor;
    flex-direction: row;
}

// FLOAT RIGHT IMAGE
.float-right-image {
    float: right;
    padding: 0 10px;
}

.home-stickers {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
