---
layout: default
title: Najm Us Saqib's Page
---

<div class="center home-bg rain-effect">
  <div class="rain-container"></div>

      <p class="word">
        <span class="letter">N</span>
        <span class="letter">A</span>
        <span class="letter">J</span>
        <span class="letter">M</span>
        <span class="letter">&nbsp;</span>

        <span class="letter">U</span>
        <span class="letter">S</span>
        <span class="letter">&nbsp;</span>
        <span class="letter">S</span>
        <span class="letter">A</span>
        <span class="letter">Q</span>
        <span class="letter">I</span>
        <span class="letter">B</span>

      </p>



</div>


<div class="center">
  <br>
<h3 class="stand-with-palestine">🇵🇸 STAND WITH PALESTINE!</h3>

<br>
  <p>Hi! You've reached the personal website of Najm Us Saqib.</p>
  <p>This is a little place of my own on the internet. I write something about me and the stuff that I do.</p>
  <p>I study literature.</p>

  <p>
    [<a href="{% link pages/bio.md %}">Bio</a>]
    [<a href="{% link blog/index.html %}">Writeups</a>]
    [<a href="{% link pages/books.md %}">Books</a>]
    [<a href="{% link pages/projects.md %}">Projects</a>]
    [<a href="{% link pages/contact.md %}">Contact Me</a>]
 </p>

 <p>
  My Blogs : [<a href="https://crapauthor.wordpress.com" target="_blank">Blog</a>] | [<a href="https://lifeisalovepoem.blogspot.com/" target="_blank">Poetry</a>]</p>

 <div class="pagelinks">
   <p>{% for page in site.pages %}
    {% if page.path contains 'pages/content' %}
      <span>[<a href="{{ page.url }}">{{ page.title }}</a>]</span>
     {% endif %}
   {% endfor %}</p>
 </div>
 <br>
<div class="home-stickers"> 
<img src="/assets/gifs/palestine1.gif" alt="FREE PALESTINE">
<span><img src="/assets/gifs/bufreepalestine.gif"></span>&nbsp;
<span><img src="/assets/gifs/standwith.png"></span>
</div>

 <span style="font-size:30px; color: #FFC2B4;">&#9733;&#9733;&#9733;</span>
 
 <br>
 
 <div style="margin-top: 10px;">
    <a href="http://users3.smartgb.com/g/g.php?a=s&i=g36-35315-97" target="_blank"><img src="assets/guestbook.png" alt="Sign My Guestbook"></a>
  </div>


{% include feed.html %}
  </div>
</div>
  

<p style="text-align:center;margin:0px 80px">Last Updated: {{ "now" | date: "%Y-%m-%d" }}</p>
<br>
