---
layout: default
title: Najm Us Saqib's Page
---

<div class="center home-bg rain-effect">
  <div class="rain-container"></div>

      <p class="word">
        <span class="letter">N</span>
        <span class="letter">A</span>
        <span class="letter">J</span>
        <span class="letter">M</span>
        <span class="letter">&nbsp;</span>

        <span class="letter">U</span>
        <span class="letter">S</span>
        <span class="letter">&nbsp;</span>
        <span class="letter">S</span>
        <span class="letter">A</span>
        <span class="letter">Q</span>
        <span class="letter">I</span>
        <span class="letter">B</span>

      </p>



</div>


<div class="center">
  <br>
<h3 class="stand-with-palestine">🇵🇸 STAND WITH PALESTINE!</h3>

<div class="theme-switcher">
  <span>Choose Theme: </span>
  <select id="themeSelect">
    <option value="default">Default</option>
    <option value="dark">Dark</option>
    <option value="light">Light</option>
    <option value="sepia">Sepia</option>
    <option value="cyberpunk">Cyberpunk</option>
    <option value="olive">Olive</option>
    <option value="vaporwave">Vaporwave</option>
  </select>
</div>

  <div style="margin: auto 1em;">
    <p>Hi! You've reached the personal website of Najm Us Saqib.</p>
  <p>This is a little place of my own on the internet. I write something about me and the stuff that I do.</p>
  </div>
  <hr width="80%">

  <div class="home-flex">
<div class="home-flex-child">
    <p>
    [<a href="{% link pages/bio.md %}">Bio</a>]
    [<a href="{% link blog/index.html %}">Writeups</a>]
    [<a href="{% link pages/books.md %}">Books</a>]
    [<a href="{% link pages/projects.md %}">Projects</a>]
    [<a href="{% link pages/contact.md %}">Contact Me</a>]
    [<a href="{% link pages/search.html %}">Search</a>]
 </p>

 <p>
  My Blogs : [<a href="https://crapauthor.wordpress.com" target="_blank">Blog</a>] | [<a href="https://lifeisalovepoem.blogspot.com/" target="_blank">Poetry</a>]</p>

 <div>
   <p>

    {% for page in site.pages %}
    
        {% if page.path contains 'pages/content' %}
      
      <p class="pagelinks">[<a href="{{ page.url }}">{{ page.title }}</a>]</p>
      {% endif %}
  {% endfor %}

  </p>
 </div>
    
  <span style="font-size:30px; color: #FFC2B4;">&#9733;&#9733;&#9733;</span>


  <div style="margin-top: 10px;">
    <a href="http://users3.smartgb.com/g/g.php?a=s&i=g36-35315-97" target="_blank"><img src="assets/guestbook.png" alt="Sign My Guestbook"></a> &nbsp;
    
    <a href="{% link feed.xml %}"><img src="/assets/graphics/rss.jpg" alt="Feed" width="90px"></a>

  </div>

  
  </div>  


  <div class="home-flex-child">
      <img src="assets/gifs/che.jpg" alt="che">&nbsp;
      <img src="assets/gifs/peneyes.gif" alt="tux">&nbsp;
      <img src="assets/images/malcolm.jpg" alt="malcolm x"><br>
    <img src="/assets/gifs/giphy.webp" alt="palestine" height="150px">

    <div class="home-stickers">
      <img src="/assets/gifs/bufreepalestine.gif">
      <img src="/assets/gifs/standwith.png">
      <img src="/assets/gifs/LinuxNow.gif" alt="Linux">
      </div>
  </div>  
</div>
<img src="assets/gifs/hedwig.gif" alt="" class="center">

  </div>
  
<p style="text-align:center;margin:0px 80px">Last Updated: {{ "now" | date: "%Y-%m-%d" }}</p>
<br>

