* {
    color: white;
background-color: #732673;
font-family: 'Space Mono', monospace;
}
p {
text-align: center;
}
.navbut {
text-align: center;
}
.navbut a {
  padding: 10px 2px;
}
a:hover {
  text-shadow: 2px 2px 5px red;
}
.box {
  height: 200px;
  width: 450px;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
border:2px;
}
.intro {
  padding-top: 70px;
}
#centerpara {
  padding-left: 24%;
  padding-right: 24%;
}

.topnav {
  overflow: hidden;
  text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
 
  color: #f2f2f2;
  text-align: center;
  padding: 10px 2px;
  
  
}