@font-face {
  font-family: 'beast-face';
  src: url('fonts/beast-head.woff2') format('woff2'),
       url('fonts/beast-head.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
    background-color: #194350;
    color: #FFC2B4;
    font-family: 'Space Mono', monospace;
}

a:hover {
  text-shadow: 2px 2px 8px #9DBEB9;
}

a, a > p {color: #FF8882;}


.name {
  font-family: beast-face, serif;
  font-size: 9vw;
  margin: 20px;
line-height: 1;
}
.navbut {
text-align: center;
}

.intro {
padding-top: 20;
}
.intro1 {
  text-align: center;

}

/* Default padding for large screens */
#centerpara {
    padding: 1% 25%;
}

/* For tablets or medium-sized screens */
@media (max-width: 992px) {
    #centerpara {
        padding: 30px;
    }
}

/* For mobile or small screens */
@media (max-width: 768px) {
    #centerpara {
        padding: 10px;
    }
}


.topnav {
  overflow: hidden;
  text-align: center;
  padding-top: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  text-align: center;
  /*padding: 10px 20px;*/
}

/* blog list in the blogs page */
.post-heading {
  margin: 10px 0px 0px 0px;
  font-weight: bold;
  font-size: 1.2em;

}
.post-list a {
    text-decoration: none;
}
.post-date {
  margin-top: 0;
  font-size: smaller;
}
.read-more-link>p {
  margin-bottom: 3px;
}
.separator {
  width: 50%;
  margin: 30px auto;
}
.pagination {
text-align: center;
}

.rss-flex {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin:10px;
}
.rss-flex-img {
  padding-top: 3px;
}
.post-rss-flex {
  display: flex;
  justify-content: space-between;
}
.post-rss-flex>h2 {
  margin: 0;
}
.post-rss-flex>span {
  align-self: center;
}
