---
layout: default
---
      {% include navbar.html %}

<div id="centerpara">
  <div class="post-flex">

<div class="post-heading">{{ page.title }}</div>
<p class="date">{{ page.date | date_to_long_string }} &bull; {{ page.author }}</p>
<section class="post-content">
{{ content }}
</section>

  </div>
<div class="post-rss-flex">
  <h3>Comments</h3><span class="post-rss-right">{% include feed.html %}</span>
</div>


<script src="https://utteranc.es/client.js"
        repo="twisthead/twisthead.github.io"
        issue-term="pathname"
        theme="photon-dark"
        crossorigin="anonymous"
        async>
</script>

</div>
