---
layout: default
---
      {% include navbar.html %}

<div id="centerpara">
  <div class="post-flex">

<div class="post-heading">{{ page.title }}</div>
<p class="date">{{ page.date | date_to_long_string }} &bull; {{ page.author }}</p>
<section class="post-content">
{{ content }}
</section>

  </div>
<div class="post-rss-flex">
  <h3>Comments</h3><span class="post-rss-right">{% include feed.html %}</span>
</div>


{% if page.comments %}

<div id="disqus_thread"></div>
<script>

    var disqus_config = function () {
    this.page.url = {{ page.url }};
    this.page.identifier = {{ page.date }};
  };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://twisthead-github-io.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endif %}


</div>
