<html>
  <head>
    <title>Najm Us Saqib's Personal Site</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet"> 
<link href="/assets/style.css" rel="stylesheet" type="text/css">
</head>
  <body>
      {% include navbar.html %}
      
      <div class="intro" id="centerpara">
<h1>{{ page.title }}</h1>
<p style="font-style: italic;">{{ page.date }}</p>
<section>{{ content }}</section>
</div>


  </body>
</html>
