<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <!--
       <div class="topnav">
          <a href="{% link index.md %}"><< Back Home</a>
        <a href="{% link pages/bio.md %}">Bio</a> 
        <a href="{% link pages/contact.md %}">Contact Me</a>
        <a href="{% link pages/blogs.md %}">News</a>
        <a href="{% link pages/projects.md %}">Projects</a>
     
      </div>
    -->
    {{ content }}
  </body>
</html>