---
layout: default
---
    <div class="intro1">
      <p class="name">Najm Us Saqib</p>
      <p>Hi! You've reached the personal website of Najm Us Saqib.</p>
      <p>This is my personal website. I will write something about me and stuff that I do.</p>
      <p>I study literature and I read books.</p>
    </div>

<br>
<br>
<div class="navbut">
[<a href="{% link pages/bio.md %}">Bio</a>] [<a href="{% link blog/index.html %}">Writeups</a>]
 [<a href="{% link pages/books.md %}">Books</a>]
 [<a href="{% link pages/projects.md %}">Projects</a>]
 [<a href="{% link pages/contact.md %}">Contact Me</a>]

 <br>

 <p>My Blogs : [<a href="https://crapauthor.wordpress.com" target="_blank">Blog</a>] |
 [<a href="https://lifeisalovepoem.blogspot.com/" target="_blank">Poetry</a>]</p>
 <div class="pagelinks">
   {% for page in site.pages %}
     {% if page.path contains 'pages/content' %}
      <span>[<a href="{{ page.url }}">{{ page.title }}</a>] </span>
     {% endif %}
   {% endfor %}
 </div>
 <br>
 <span style="font-size:30px;">&#9733;&#9733;&#9733;</span><br>
  <div style="margin-top: 10px;">
    <a href="http://users3.smartgb.com/g/g.php?a=s&i=g36-35315-97" target="_blank"><img src="assets/guestbook.png" alt="Sign My Guestbook"></a>
  </div>


{% include feed.html %}
  </div>
</div>
<!-- <hr style="width: 80px;"> -->
<div style="text-align:center;margin:0px 80px">Last Updated: {{ "now" | date: "%Y-%m-%d" }}</div>

{{ content }}
